---
---

<nav class="flex gap-6 lg:gap-8 items-center">
  <a
    href="/"
    class="text-sm md:text-base font-medium text-secondary hover:text-secondary-dark transition-colors py-2"
  >
    Início
  </a>
  <a
    href="/sobre"
    class="text-sm md:text-base font-medium text-secondary hover:text-secondary-dark transition-colors py-2"
  >
    Sobre
  </a>
  <a
    href="/servicos"
    class="text-sm md:text-base font-medium text-secondary hover:text-secondary-dark transition-colors py-2"
  >
    Serviços
  </a>
  <a
    href="/contato"
    class="text-sm md:text-base font-medium text-white py-2 px-4 bg-primary rounded-lg hover:bg-primary-dark transition-colors"
  >
    Contato
  </a>
</nav>
